{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>	
{% endfor %}


{% if name %}
	<h1>User Added!</h1>
	<br/><br/>
	<table class="table table-hover table-bordered table-striped">
		{% for i in our_users %}
			<tr>
				<td>{{ i.id }}. <a href="{{ url_for('update', id=i.id)}}">{{ i.name }}</a> - {{ i.email }} 
					- <a href="{{ url_for('delete', id=i.id)}}"> Delete </a>
				</td>	
			</tr>
		{% endfor %}
	</table>
	

{% else %}
	<br/>
	<h4>Νέος χρήστης</h4>
	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<form method="POST">
			{{ form.hidden_tag() }}
			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control") }}
			<br/>

			{{ form.email.label(class="form-label") }}
			{{ form.email(class="form-control") }}
			<br/>

			{{ form.submit(class="btn btn-secondary") }}
		</form>
	</div>
<br/>
<table class="table table-hover table-bordered table-striped">

	{% for i in our_users %}
		<tr>
			<td>{{ i.id }}. <a href="{{ url_for('update', id=i.id)}}">{{ i.name }}</a>  - {{ i.email }} 
				- <a href="{{ url_for('delete', id=i.id)}}"> Delete </a> </td>
		</tr>
	{% endfor %}

</table>
{% endif %}

{% endblock %}